<div class="card">
    <img src="images/art-project.png" class="main-image" style="height: 150px; width: 150px;" alt="project image">
    <div class="details">
        <h2>Maths</h2>
        <p>Start working</p>
    </div>
    <img src="images/arrow.png" class="arrow-image" style="height: 10px; width: 20px;" alt="arrow image">
</div>