<html lang="en">

<head>
    <%- include ('partials/imports'); %> 
</head>

<body style="font-family: 'Nunito', sans-serif;">

    <%- include('partials/navBar'); %>
    <%- include ('partials/header'); %> 


    <div class="main">

        <div class="grid-container main-content">

            <div class="multi-container">

                <div class="hi-container">
                    <img  src="/images/hi.png" alt="" />
                    <h1>Hi Alice</h1>
                </div>

                <div class="cal-container">
                    <table>
                        <tr>
                            <th>
                                <img src="images/left-arrow.png" alt="">
                            </th>
                            <th>
                                <div>
                                    <h5>M</h5>
                                    <h6>6</h6>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <h5>T</h5>
                                    <h6>7</h6>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <h5>W</h5>
                                    <h6>8</h6>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <h5>T</h5>
                                    <h6>9</h6>
                                </div>
                            </th>
                            <th>
                                <div>
                                    <h5>F</h5>
                                    <h6>10</h6>
                                </div>
                            </th>

                            <th>
                                <img src="images/right-arrow.png" alt="">
                            </th>
                        </tr>

                    </table>
                    <hr style="margin-top: 22; margin-bottom: 0px; width: 100%;"></hr> 
                    
                    <div class="division">
                        <div class="vl"></div>
                        <div class="vl"></div>
                        <div class="vl"></div>
                        <div class="vl"></div>
                    </div>

                    <div class="sst">SST Project</div>
                    <div class="math">Maths Project</div>
                    <div class="english">English Project</div>
                    <div class="science">Science Project</div>


                </div>

            </div>

            
            
            <div class="mess-container">
            
                <h1>Message</h1>
                <p>Don't just work enjoy it!</p>
                <h4>Today's work</h4>
                
                <div>
                    <div class="card">
                        <img src="images/art-project.png" class="main-image" style="height: 150px; width: 150px;" alt="project image">
                        <div class="details">
                            <h2>Art</h2>
                            <p>Date-02 april 2021</p>
                        </div>
                        <img src="images/arrow.png" class="arrow-image" style="height: 10px; width: 20px;" alt="arrow image">
                    </div>

                    <div class="card">
                        <img src="images/conputer-project.png" class="main-image" style="height: 120px; width: 150px; padding-top: 55px;" alt="project image">
                        <div class="details">
                            <h2>Computer</h2>
                            <p>Date-02 april 2021</p>
                        </div>
                        <img src="images/arrow.png" class="arrow-image" style="height: 10px; width: 20px;" alt="arrow image">
                    </div>

                    <div class="card">
                        <img src="images/science-project.png" class="main-image" style="height: 150px; width: 150px;" alt="project image">
                        <div class="details">
                            <h2>Science</h2>
                            <p>Date-02 april 2021</p>
                        </div>
                        <img src="images/arrow.png" class="arrow-image" style="height: 10px; width: 20px;" alt="arrow image">
                    </div>


                </div>

            </div>

            <div class="att-container">
                <h1>Attendace</h1>
                <p>Don't just work enjoy it!</p>
                <h4>April</h4>

                <div class="container">
                    <div class="calendar">
                    <div class="front">
                    
                        <div class="current-month">
                        <ul class="week-days">
                            <li>SUN</li>

                            <li>MON</li>
                            <li>TUE</li>
                            <li>WED</li>
                            <li>THU</li>
                            <li>FRI</li>
                            <li>SAT</li>
                        </ul>
            
                        <div class="weeks">
                            <div class="first">
                            <span class="last-month" style="color: #A170F1;">28</span>
                            <span class="last-month">29</span>
                            <span class="last-month">30</span>
                            <span class="last-month">31</span>
                            <span>01</span>
                            <span>02</span>
                            <span>03</span>
                            </div>
            
                            <div class="second">
                            <span style="color: #A170F1;">04</span>
                            <span>05</span>
                            <span class="event">06</span>
                            <span>07</span>
                            <span>08</span>
                            <span>09</span>
                            <span>10</span>
                            </div>
            
                            <div class="third">
                            <span style="color: #A170F1;">11</span>
                            <span>12</span>
                            <span>13</span>
                            <span>14</span>
                            <span >15</span>
                            <span>16</span>
                            <span>17</span>
                            </div>
            
                            <div class="fourth">
                            <span style="color: #A170F1;">18</span>
                            <span>19</span>
                            <span>20</span>
                            <span>21</span>
                            <span>22</span>
                            <span class="active">23</span>
                            <span>24</span>
                            </div>
            
                            <div class="fifth">
                            <span style="color: #A170F1;">25</span>
                            <span>26</span>
                            <span>27</span>
                            <span>28</span>
                            <span>29</span>
                            <span>30</span>
                            <span>31</span>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        
        

    </div>

</body>

</html>