<html lang="en">

<head>
    <%- include ('partials/imports'); %> 
</head>

<body style="font-family: 'Nunito', sans-serif;">

    <%- include('partials/navBar'); %>
    <%- include ('partials/header'); %> 

    <div class="main">
        <div class="contain">
            <div class="main-con" style="margin-top: 0px;">
                <h2 style="text-align: left;">Details</h2>
                <div class="content" style="padding: 36px 0px 16px 0;">

                    <img class="axis" src="images/axis.png" alt="">
                    <img class="abcd" src="images/abcd.png" alt="">
                    <img class="bar1" src="images/bar1.png" alt="">
                    <img class="bar2" src="images/bar2.png" alt="">
                    <img class="bar3" src="images/bar3.png" alt="">
                    <img class="bar4" src="images/bar4.png" alt="">
                    <img class="bar5" src="images/bar5.png" alt="">
                    <img class="bar6" src="images/bar6.png" alt="">
                    <img class="bar7" src="images/bar7.png" alt="">
                    <img class="month" src="images/month.png" alt="">
                    <div class="sub">
                        <img class="sub1" src="images/sub1.png" alt="">
                        <img class="sub2" src="images/sub2.png" alt="">
                        <img class="sub3" src="images/sub3.png" alt="">

                    </div>
                </div>

                <div class="content" style="margin: 36px 10px 16px 0;">

                    <h2>Meeting</h2>
                    <div style="background-color: #FF5EA9;  margin: 0 35% 0 35%; padding: 1; border-radius: 20px;">
                        <h3 style="color: white;">Date:28 april 2021</h3>
                        <h3 style="color: white;">With:Ms Eva</h3>
                    </div>

                    <h2>2 days left </h2>
                </div>

            </div>

            
        </div>

        <div class="image-con" style=" background-color: #FBF6EF; width: 495px;">
            
            
            
        </div>
    </div>


</body>

</html>