<html lang="en">

<head>
    <%- include ('partials/imports'); %> 
</head>

<body style="font-family: 'Nunito', sans-serif;">

    <%- include('partials/navBar'); %>

    <div class="main">
        <%- include ('partials/header'); %> 
    </div>

</body>

</html>