<html lang="en">

<head>
    <%- include ('partials/imports'); %> 
</head>

<body style="font-family: 'Nunito', sans-serif;">

    <%- include('partials/navBar'); %>
    <%- include ('partials/header'); %> 

    <div class="main">
        <h1>Hello</h1>
    </div>

</body>

</html>