.sidenav {
  box-shadow: 1px 0px 25px rgb(219, 219, 219);
    
  text-align: lefcet;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20.2%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

h1 {
  color: #A170F1;
  font-size: 50px;
  margin: 49px 128px 41px 110px;
}

hr {
  margin-bottom: 38;
  width: 75%;
  background-color:#F5F5F5; 
  border-color:transparent;
  height: 4px;
  border-radius: 5px;
 
}

/* The navigation menu links */
.dashButton , .signOut {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 12px 61px;
  /* padding: 5.6% 1.1%; */
  margin-left: 49px;
  margin-right: 49px;
  margin-bottom: 2.28%;
  text-decoration: none;
  font-size: 24px;
  color: #AFACDA;
  display: block;
}

.selected {
  background-color: #A170F1;
  border-radius: 50px;
  padding: 12px 61px;
  margin-left: 49px;
  margin-right: 49px;
  margin-bottom: 2.28%;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
/* .dashButton:hover {
  color: #ffffff;
  background-color: #A170F1;
} */

.sidenav img {
  color: red;
}

.dashButton:hover, .signOut:hover  {
  color: #A170F1;
  background-color: #ffffff;
}

/* Style page content */
.main {
  margin-left: 20.2%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}